{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true
  },
  "settings": { "import/core-modules": [ "casper" ] },
  "rules": {
    "no-underscore-dangle": 0,
    "no-restricted-syntax": [2, "WithStatement"],
    "comma-dangle": [2, "never"]
  }
}
